.test {
  flex-direction: column;
  color: black;
}
.card {
  width: calc(calc(100% - var(--gap) * 2) / 3);
}
.portfolio {
  margin-top: 94px;
}
.line {
  background-color: rgb(44 58 80);
  height: 4px;
  width: 80px;
}
